.toolbar {
    display: flex;

    left: 50px;
      
    padding: 10px 10px;
    height: 80px;
    width: 350px;
    z-index: 2;
    border-radius: 20px;
  
    background-color: darkblue;
    
    justify-content: space-between;
    align-items: center;
}
.toolbar.collapsed {


  display: flex;
  position: fixed;
  
  top: 85%;


  justify-content: space-between;
  align-items: center;

  width: 80px;
  height: 80px; 
  transition: width 0.2s linear;
}

/* Assuming expanded state should show more content or a different layout */
.toolbar.expanded {
  /* Adjusted styles for when the toolbar is expanded */
  display: flex;
  position: fixed;
  
  top: 85%;

  transition: width 0.2s linear;
}

/* Base state of the icons - hidden */
.toolbar-icon {
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.2s; /* Adjust delay to match toolbar's */
}

.toolbar.expanded .toolbar-icon {
  opacity: 1;
  visibility: visible;
  
}
